@model IEnumerable<Webmvc.Models.ProductView>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table border="1" cellpadding="30">
    <tr style="color:red">
        <td>ID</td>
        @*<td>@Html.DisplayNameFor(model => model.NameOfProduct)</td>*@
        @*<td>Name</td>*@
        <td>CategoryID</td>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.productID</td>
        <td>@item.producName</td>
        <td>@item.type</td>
      
    </tr>


    }
</table>
<h1>
    @Html.ActionLink("Tao moi san pham", "Create")
    <i>|</i>
    @Html.ActionLink("Tao the loai", "Create", "CategoryOfProducts")
</h1>
@*<a href="/CategoryOfProducts/Create">New </a>*@